name: GitHub Actions Demo

on: [pull_request, push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # - name: Install dependencies
      #   run: yarn install

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          browser: chrome
          # start: yarn run
